@charset "utf-8";
p{margin-bottom: 70px;}
#ungu {background-color: #9168b3;overflow: hidden;padding: 5px;}
.orangegank{background-color: #a8b368;overflow: hidden;padding: 5px;}
#merah {background-color: #b36c68;overflow: hidden;padding: 5px;}
.abugank{background-color: #00FFFF;overflow: hidden;padding: 5px;} 